/** 
 *  This file is stylesheet for frequently used components
 *  Button, Fields, Selectors will be defined in this file.
**/ 
@import 'layout';

/* Inputs */
// Textarea
textarea {
    resize: none;
  }

input,
[type=text],
[type=textarea],
[type=password],
[type=email],
[type=file] {
  &::placeholder {
    color: var(--color-gray-500);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-normal);
  }
}

input[type=file]::file-selector-button {
  display: none;
}

input,
textarea {
  &:focus-visible {
    outline: none;
  }
}

// Fields
.input--field {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 24px;
}

.field-group {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;

    label {
        color: var(--color-gray-800);
        font-size: var(--font-size-body);
        font-weight: var(--font-weight-medium);
        padding: var(--grid-xxsmall) 0;
    }
    p {
        color: var(--color-red-800);
        font-size: var(--font-size-body);
        font-weight: var(--font-weight-medium);
        padding: var(--grid-xxsmall) 0;
    }
}

@mixin field {
  width: 100%;
  border-radius: var(--border-radius-medium);
  border: 2px solid var(--color-gray-300);
  font-size: var(--font-size-body);
  color: var(--color-gray-800);

  &:hover {
      border: 2px solid var(--color-blue-400);
  }

  &:focus {
      border: 2px solid var(--color-blue-600);
  }

  &:focus-visible {
    border: 2px solid var(--color-blue-600);
  }
}

.field--small {
  @include field;
  height: 40px;
  padding: 4px 20px;
}

.field--medium {
  @include field;
  height: 48px;
  padding: 8px 20px;
}

.field--large {
  @include field;
  height: 54px;
  padding: 10px 20px;
}

.field--xlarge {
  @include field;
  height: 100px;
  min-height: 100px;
  max-height: 150px;
  padding: 10px 20px;
}

/* Buttons */
.button {
  transition: all 0.25s ease-in-out;
  text-align: center;
  font-family: var(--font-family-base);
  cursor: pointer;
}

.button:disabled,
.button.button.is-disabled,
.button--primaryFill:disabled,
.button--primaryFill.is-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

@mixin button-fill {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-20) var(--space-28);
  border-radius: var(--border-radius-large);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-medium);
}


.button--primaryFill {
  @include button-fill;
  color: white;
  background-color: var(--color-blue-700);

  &:not(:disabled):hover {
    background-color: var(--color-blue-900);
  }
}

.button--dangerFill {
  @include button-fill;
  color: var(--color-red-600);
  background-color: var(--color-red-200);

  &:not(:disabled):hover {
    background-color: var(--color-red-400);
  }
}

// Button size
.button--xlarge {
  padding: var(--space-32) var(--space-64);
  border-radius: var(--border-radius-xlarge);
  font-size: var(--font-size-headline-1);
  font-weight: var(--font-weight-normal);
}

.button--large {
  padding: var(--space-24) var(--space-40);
  border-radius: var(--border-radius-large);
  font-size: var(--font-size-headline-2);
  font-weight: var(--font-weight-normal);
}

.button--small {
  padding: var(--space-16) var(--space-20);
  border-radius: var(--border-radius-medium);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-normal);
}

.button--xsmall {
  padding: var(--space-8) var(--space-16);
  border-radius: var(--border-radius-medium);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-normal);
}

/* Chips */
@mixin chip {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chip--gray {
  @include chip;
  background-color: var(--color-gray-200);
  color: var(--color-gray-700);
}

// Chip size
.chip--small {
  padding: var(--space-4) var(--space-8);
  border-radius: var(--border-radius-medium);
  font-size: var(--font-size-subtext-1);
  font-weight: var(--font-weight-normal);
}