/** 
 *  This file is for layout components such as spacing & grid.
 *  Currently this file will be linked to _components.scss for modularization
**/ 

/* Containers */
// Add media queries here for device view controll
.wrapbox {
    width: 100%;
    display: flex;
}

.container--50 {
    width: 50%;
    height: fit-content;
    margin: auto;
}

.container--100 {
    width: 100%;
    height: fit-content;
    margin: auto;
}

.container--600 {
    width: 100%;
    max-width: 600px;
    height: fit-content;
    min-height: 100vh;
    margin: 0 auto;
}

.container--1080 {
    width: 100%;
    max-width: 1080px;
    height: fit-content;
    min-height: 100vh;
    margin: 0 auto;
}

.container--max {
    width: 100%;
    max-width: 1280px;
    height: fit-content;
    min-height: 100vh;
    margin: 0 auto;
}


/* Spacers */
.spacer--6 {
    height: var( --space-6);
}

.spacer--12 {
    height: var( --space-12);
}

.spacer--20 {
    height: var( --space-20);
}

.spacer--24 {
    height: var( --space-24);
}

.spacer--32 {
    height: var( --space-32);
}

.spacer--40 {
    height: var( --space-40);
}

.spacer--48 {
    height: var( --space-48);
}

.spacer--64 {
    height: var( --space-64);
}

.spacer--80 {
    height: var( --space-80);
}

.spacer--120 {
    height: calc(var( --space-40) * 3);
}


/* Grids */
@mixin col($value) {
    width: 100%;
    height: fit-content;
    display: flex;
    gap: calc(3rem/$value);
  }
  
  .col-2 {
    @include col(2)
  }
  
  .col-3 {
    @include col(3)
  }
  
  .col-4 {
    @include col(4)
  }

/* Alignments */
.flex--center-all {
    display: flex;
    justify-content: center;
    align-items: center
}
