{% extends "home/base.html" %}
{% load static %}

{% block title %} Campaigns {% endblock %}
{% block content%}
<div class="container--1080">
    <div class="header">
        <h2>All campaigns</h2>
    </div>
    <div class="spacer--80"></div>
    <div class="all-campaigns">
        {% for campaign in campaigns %}
        <a href="{% url 'campaign:campaign-details' campaign.pk %}">
            <div class="campaign-card">
                <div>
                    <div class="campaign-imgbox">
                        <img src="{% get_media_prefix %}{{ campaign.thumbnail }}" onerror="this.onerror=null; this.src='{% static 'common/img/img_nullimg.png' %}';" alt="image">
                    </div>
                    <h6 class="campaign-name text-headline-2">{{ campaign.name }}</h6>
                </div>
                <div>
                    <div class="chip--gray chip--small"><p class="campaign-category">{{ campaign.category }}</p></div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="spacer--80"></div>
</div>   
{% endblock %}