{% extends "home/base.html" %}
{% block title %} Login {% endblock %}
{% block content %}  

<div class="container--600">
  <div class="header">
    <h1>Log In</h1>
    <div class="spacer--12"></div>
    {% if form.errors %}
      <p>Your username and password didn't match.<br/>Please try again.</p>
    {% endif %}
  
    {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page.<br/>To proceed, please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.<p>
    {% endif %}
  {% endif %}
  </div>
  <div>
    <form method="post" action="{% url 'user:login' %}">
      {% csrf_token %}
      <div class="field-group">
        <label for="loginName">User name</label>
        <input class="field--large" id="loginName" type="text" name="username" placeholder="Enter username" required>
        <p>{{ form.username.errors }}</p>
      </div>
      <div class="spacer--24"></div>
      <div class="field-group">
        <label for="loginPw">Password</label>
        <input class="field--large" id="loginPw" type="password" name="password" placeholder="Enter password" required>
        <p>{{ form.password1.errors }}</p>
      </div>
      <div class="spacer--40"></div>
      <button class="button button--primaryFill" id="login_submit" type="submit">Login</button>
    </form>
    <div class="spacer--20"></div>
    {# Assumes you setup the password_reset view in your URLconf #}
    <div class="link-group">
      <a href="{% url 'user:signup' %}">I'm new</a>
      <span>|</span>
      <a href="{% url 'user:password_reset' %}">Lost password?</a>
    </div>
  </div>
  <div class="spacer--80"></div>
</div>
{% endblock %}
