{% extends "home/base.html" %}

{% block content %}
  <div class="container--600">
    <div class="header">
      <h2>Reset Password</h2>
      <div class="spacer--12"></div>
        <p>Please enter your Email to reset password</p>
    </div>
    <div>
      <form method="post" action="">
        {% csrf_token %}
        {% if form.email.errors %}
          {{ form.email.errors }}
        {% endif %}
        <div class="field-group">
          <label for="">Email</label>
          <input class="field--large" id="" type="email" name="email" placeholder="Enter email address" required>
        </div>
          <div class="spacer--40"></div>
          <button class="button button--primaryFill" type="submit" value="Reset password">Reset Password</button>
        </form>
      <div class="spacer--20"></div>
    </div>
    <div class="spacer--80"></div>
  </div>
{% endblock %}