{% extends 'home/base.html' %}
{% block title %} Sign Up {% endblock %}
{% block content %}
<div class="container--600">
  <div class="header">
    <h1>Sign up</h1>
  </div>
  <div>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="field-group">
        <label for="userID">Email</label>
        <input class="field--large" id="userID" type="email" name="email" placeholder="Enter email address" required>
        <p>{{ form.email.errors }}</p>
      </div>
      
      <div class="col-2">
        <div class="field-group">
          <label for="userFirstName">First name</label>
          <input class="field--large" id="userFirstName" type="text" name="first_name" placeholder="Enter first name" required>
          <p>{{ form.first_name.errors }}</p>
        </div>
  
        <div class="field-group">
          <label for="userLastName">Last name</label>
          <input class="field--large" id="userLastName" type="text" name="last_name" placeholder="Enter last name" required>
          <p>{{ form.last_name.errors }}</p>
        </div>
      </div>

      <div class="spacer--40"></div>

      <div class="field-group">
        <label for="userName">User name</label>
        <input class="field--large" id="userName" type="text" name="username" placeholder="Enter username" required>
        <p>{{ form.username.errors }}</p>
      </div>

      <div class="field-group">
        <label for="loginPw">Password</label>
        <input class="field--large" id="loginPw" type="password" name="password1" placeholder="Enter password" required>
        <p>{{ form.password1.errors }}</p>
      </div>

      <div class="field-group">
        <label for="loginPwConfirm">Password confirm</label>
        <input class="field--large" id="loginPwConfirm" type="password" name="password2" placeholder="Enter password again" required>
        <p>{{ form.password2.errors }}</p>
      </div>

      <div class="spacer--40"></div>

      <div class="field-group">
        <label for="userRole">Role</label>
        <select class="field--large" id="userRole" name="role" required>
          <option value="CREATOR">Creator</option>
          <option value="BUSINESS">Business</option>
        </select>
        <p>{{ form.role.errors }}</p>
      </div>

      <div class="field-group">
        <label for="userProfileImg">Profile image</label>
        <input class="field--large" id="userProfileImg" type="file" accept="image/*" name="profile_image" placeholder="Click to upload image">
        <p>{{ form.profile_image.errors }}</p>
      </div>
      <div class="spacer--40"></div>
      <button class="button button--primaryFill" id="signup_submit" type="submit">Signup</button>
    </form>
  </div>
  <div class="spacer--80"></div>
</div>
{% endblock %}