
/* Styles specific to campaign page */

.all-campaigns {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    row-gap: calc(var(--grid-mega) * 2);
}

.campaign-card {
    width: 320px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover {
        .campaign-imgbox {
            box-shadow: 1px 11px 34px 2px rgba(169,180,189,0.25);
            -webkit-box-shadow: 1px 11px 34px 2px rgba(169,180,189,0.25);
            -moz-box-shadow: 1px 11px 34px 2px rgba(169,180,189,0.25);
            transform: translateY(-5px);
            transition: transform 0.25s ease-in-out;
        }
        h6 {
            color: var(--color-blue-700);
        }
    }
}

.campaign-imgbox {
    width: 320px;
    height: 180px;
    overflow: hidden;
    position: relative;
    border-radius: var(--border-radius-medium);

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.campaign-name {
    max-height: 60px;
    margin: var(--grid-medium) 0;
    color: var(--color-gray-800);
}

.campaignView-imgbox {
    width: 600px;
    height: 340px;
    overflow: hidden;
    position: relative;
    border-radius: var(--border-radius-xlarge);

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.campaignView-category {
    color: var(--color-blue-600);
    margin-bottom: var(--grid-xsmall);
}

.camapaignView-name {
    margin-bottom: var(--grid-medium);
}

.campaignView-date {
    color: var(--color-gray-500);
    margin-bottom: var(--grid-medium);
}

.campaignView-description {
    max-height: 60px;
    margin: calc(var(--grid-large) * 1.5) 0;
    color: var(--color-gray-700);
}

.campaignView-bid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--grid-large) 0;
    border-top: 1px solid var(--color-gray-400);
}