// css normalization
@use 'reset.scss';

/* color style */
$white-100 : #f8fafc;
$white-80 : #F3F4F7;
$white-60 : #DADDE7;
$white-40 : #C1C6D7;
$white-20 : #B4BBCF;

$black-100 : #17181C;
$black-80 : #25262D;
$black-60 : #373843;
$black-40 : #65687B;
$black-20 : #9BA5B9;

$blue-100 : #114592;
$blue-80 : #1A67DB;
$blue-60 : #3079E7;
$blue-40 : #6DA1EE;
$blue-20 : #A4C4F4;