<!DOCTYPE html>
<html lang="en">
  {% load static %}  
<head>
  {% include 'home/head.html' %}
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <nav>
    <div class="nav-title">
        <a class="nav-logo-container" href="{% url 'home:home' %}">
          <img src= "{% static 'common/img/logo_collaberr.png' %}" alt="Collaberr" width="130px" height="auto">
        </a>
        <ul id="nav-menu">
          <li>
            <a href="{% url 'campaign:campaign-home' %}">Campaign</a>
          </li>
          {% if user.is_authenticated and user.role == "BUSINESS" %}
          <li>
            <a href="{% url 'campaign:campaign-create' %}">Create Campaign</a>
          </li>
          <li>
            <a href="{% url 'business:business-dashboard' %}">Dashboard</a>
          </li>
          {% endif %}
        </ul>
    </div>
    <ul id="nav-tool">
      {% if user.is_authenticated %}
      <li>
        <a href="#">User: {{ user.get_username }}</a>
      </li>
      <li>
        <button>
          <a class="button button--dangerFill button--small" href="{% url 'user:logout' %}?next={{ request.path }}">Logout</a>
        </button>
      </li>
      {% else %}
      <li>
        <a href="{% url 'user:signup' %}">Sign up</a>
      </li>
      <li>
        <button>
          <a class="button button--primaryFill button--small" href="{% url 'user:login' %}?next={{ request.path }}" role="button">Login</a>
        </button>
      </li>
      {% endif %}
    </ul>
  </nav>

  {% block content %}
  {% endblock %}
  <div class="footer">
  </div>
</body>
</html>

