{% extends "home/base.html" %}
{% block title %} Collaberr {% endblock %}
{% block content%}
<div class="container--max">
  <div class="section hero">
      <h1 class="text-jumbo">Boost your productivity</h1>
      <div class="spacer--40"></div>
      <p class="text-headline-2">Ac euismod vel sit maecenas id pellentesque eu sed consectetur.<br/>Malesuada adipiscing sagittis vel nulla.</p>
      <div class="spacer--80"></div>
    <button class="button button--primaryFill button--large">Get started</button>
  </div>
</div>
{% endblock %}